/* Grid changes on medium sized screens */
@media screen and (min-width: 300px) {
  img {
    flex: auto;
    min-width: auto;
    max-width: 100%;
    text-align: center;
    padding-top: 0.5;
    padding-left: 0.5;
    padding-bottom: 0.5;
  }
  .wrapper {
    justify-content: center;
    background: rgba(0, 135, 0, 0.1);
    top: 0;
  }
}

/* Grid changes again on larger screens */
@media screen and (min-width: 1000px) {
  img {
    flex: auto;
    min-width: auto;
    text-align: center;
    max-width: 100%;
    padding-top: 0.5;
    padding-left: 0.5;
    padding-bottom: 0.5;
  }
  .wrapper {
    background: rgba(0, 135, 0, 0.1);
    top: 0;
  }
}
