<div class="wrapper">
  <h2>Joshie Man's Family</h2>
  <ul>
    <li>
      Josh Harris aka The Joshie Man is a 10-year-old young boy from
      Peterborough, living with his sister Lottie and XX. The Joshie Man is a
      non-speaking autistic boy, who attends school
    </li>
    <li>
      His dad Dan, inspired by The Joshie Man, set up the charity Neurodiversity
      in Business in 2022. It is a voluntary industry forum and charity that
      is transforming neurodivergent individual's life chances but supporting
      corporates to build neuroinclusive workplaces What is non-speaking autism
    </li>
  </ul>
  <h2>Joshie Man's Autistic Neurotype</h2>
  <ul>
    <li>
      Autism is a lifelong developmental disability which affects how people
      communicate and interact with the world. Autism is part of the
      neurodivergent family. In fact, in the UK, various reports show that between
      15-20% of people are neurodivergent
    </li>
    <li>
      Autism cannot be cured. Our focus should be on early identification and
      appropriate support. Ultimately, like non-speaking autistic children
      across the world, The Joshie Man has a lot to say, but we need to listen
      to him and give him the tools and support to thrive Facts about The Joshie
      Man?
    </li>
  </ul>
  <h2>How does Autism change the Joshieman's life from other children.</h2>
  <ul>
    <li>
      Some autistic people are non-verbal, or selectively mute, meaning that
      they do not speak. Although a person may not use spoken word, there are
      plenty of other ways to communicate
    </li>
    <li>
      The Joshie Man benefits from using an iPad and software to unlock the
      power of his brain. In particular, the use of a talker allows him to
      provide basic responses to questions, convey emotions and feelings and
      help co-operate with any requests Is there any treatment for non-speaking
      autism?
    </li>
  </ul>
  <h2>How does the TJM communicate?</h2>
  <ul>
    <li>
      He has made the case (along with dad Dan) for greater awareness and
      acceptance of non-speaking autism with attendance at:
    </li>
    <ul>
      <li>
        UN Diversity Conference where he met European Commissioner for Equality,
        Helena Dali, to make European Union wide focus to help make sure that
        assistive technology is made available for non-speaking people
      </li>
      <li>
        The House of Lords for a meeting with Baron (Lord) Jackson to make the
        case for how the talker had changed his life
      </li>
    </ul>
    <li>
      Made regular appearances on national mainstream media such as ITV and BBC
      • He is a big fan of helping dad in the local allotments, helps the family
      shopping, and travelling.
    </li>
  </ul>
</div>
