@media screen and (min-width: 300px) {
  .sidenav {
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media screen and (min-width: 1000px) {
  .sidenav {
    padding-left: 1em;
    padding-right: 1em;
  }
}

a {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  color: rgba(43, 46, 226, 0.534);
  text-decoration: none;
}

.active-route {
  text-decoration: underline !important;
  font-weight: bolder !important;
  font-size: 1.25em !important;
}
