/* Grid changes on medium sized screens */
@media screen and (min-width: 300px) {
  .sidenav {
    padding-left: 10em;
  }
}

/* Grid changes again on larger screens */
@media screen and (min-width: 1000px) {
  .sidenav {
    padding-bottom: 10em;
    padding-left: 1em;
  }
}
