p {
  font-family: MoreSugar;
  font-style: italic;
  font-weight: 600;
}

.link-item {
  margin: 2em;
  text-align: center;
  min-height: 12em;
  min-width: 12em;
  padding: 0.75em;
  border-radius: 15px;
  background: rgba(163, 163, 163);
  background: linear-gradient(
    90deg,
    rgba(152, 73, 255, 0.2) 0%,
    rgb(68, 114, 126, 0.2) 100%
  );
}

@media screen and (max-width: 714px) {
  .links-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas:
      " link "
      " link "
      " link ";
    grid-gap: 1em;
    padding-bottom: 2em;
  }
}
