.skip {
  width: 1px;
  height: 1px;
}

.skip:focus {
  background: darkorange;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.header-content {
  text-align: center;
}
