<div class="row ms-auto justify-content-center">
  <h1 tabindex="0" title>The Talker</h1>
  <p>
    The Joshie-man uses an amazing piece of technology (proloquo2go) on his ipad
    which we call his "talker". It gives him a voice and allows him to
    communicate his wants, desires and feelings.
  </p>
  <div class="col" section>
    <div tabindex="0" title>At School</div>
    <div tabindex="0" content>
      <p>
        At school, he had a task to identify and name various vegetables, one of
        which was brussels sprouts. He knew exactly what he wanted to “say”, but
        the tools were not there for him. So he sat, he thought for a second and
        quickly solved this problem. He actually wrote out “I see small
        cabbage”.
      </p>
      <img
        src="../../assets/tIQ9Cu.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <br />
      <br />
    </div>
    <div post>
      <iframe
        class="embed-responsive-item"
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7026071279296204800"
        height="399"
        frameborder="0"
        style="overflow: hidden; border: none"
        allowfullscreen=""
        title="Embedded post"
      ></iframe>
    </div>
  </div>
  <div class="col" section>
    <div tabindex="0" title>
      This was how The Joshie man explained how his day went.
    </div>
    <div tabindex="0" content>
      <img
        src="../../assets/krPqv4.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <br />
      <br />
    </div>
    <div post>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7127181614333227009"
        height="399"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"
      ></iframe>
    </div>
  </div>
  <div class="col" section>
    <div tabindex="0" title>
      The Joshie Man was sharing his thoughts as he plans for his travel to the
      UN.
    </div>
    <div tabindex="0" content>
      <img
        src="../../assets/tSOO4n.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <br />
      <br />
    </div>
    <div post>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7174313531578703872"
        height="399"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"
      ></iframe>
    </div>
  </div>
</div>
