
.grid-wrapper {
  background-color: #2196f3;
  background: linear-gradient(57deg, #b6ffec, #b6d3ff, #b4d2ff);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}

/* Grid changes on medium sized screens */
@media screen and (min-width: 300px) {
  .header-content {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
    padding-top: 1em;
  }
  .menu-content {
    grid-area: menu;
    font-weight: bold;
  }

  .grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header"
      "menu"
      "left"
      "right"
      "footer";
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    background: linear-gradient(57deg, #b6ffec, #b6d3ff, #b4d2ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
  }
}

/* Grid changes again on larger screens */
@media screen and (min-width: 1000px) {



.menu-content {
  grid-area: menu;
}
.left-content {
  grid-area: left;
}
.footer-content {
  grid-area: footer;
}

  .header-content {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
    padding-top: 5em;
  }
  .grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header header header header header header"
      "menu left right right right right"
      "footer footer footer footer footer footer";
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    background: linear-gradient(57deg, #b6ffec, #b6d3ff, #b4d2ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}

@font-face {
  font-family: ShootingStar;
  src: url("assets/Shooting\ Star.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: MoreSugar;
  src: url("assets/MoreSugar-Thin.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-family: ShootingStar;
}

a {
  font-family: MoreSugar;
}
