<div class="row justify-content-center">
  <div class="col-10 col-md-5 col-lg-5 home-section">
    <h2>Who is The Joshie Man?</h2>
    <p>Joshie-man is a ten-year-old who is Autistic and non-speaking.</p>
    <p>
      He loves going on long walks, especially with his family, being outdoors,
      and dancing. He is a little human being, just like you and me, and he
      understands everything being said around and about him even when he has
      limited to no speech. When he is happy or excited, he jumps and claps—a
      lot. Because Joshie-man is full of wonder, joy, and innocence, he is
      always excited to see his favorite food and drink served at the restaurant
      table. When he is feeling overwhelmed, he will flap his hands and put them
      over his face. They are actions that make Joshie feel more comfortable and
      able to cope, and they can help focus his mind.
    </p>
  </div>
  <div class="col-10 col-md-5 col-lg-5 home-section"></div>
  <div class="row mx-auto justify-content-center">
    <div class="col-10">
      <h2 tabindex="0">Links Grid</h2>
      <div links-grid></div>
    </div>
  </div>
</div>
